{% extends 'layout.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <table class="table table-bordered">
                <tr>
                    <th>Имя</th>
                    <th>Дата рождения</th>
                    <th>Описание</th>
                    <th>Фотография</th>
                    <th>Статус</th>
                </tr>

            </table>
            {{ data }}
        </div>
    </div>
{% endblock %}