{% extends 'layout.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            {{ data }}
        </div>
    </div>
{% endblock %}